src/main/app/company_receive.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="HTTP-/ldap/company/create">
        <http:listener config-ref="crm-httpListenerConfig" path="/ldap/company/create" allowedMethods="POST" doc:name="HTTP create"/>
        <flow-ref name="company_create_update" doc:name="Company Creat Update"/>
        <flow-ref name="update_company_with_or_number" doc:name="Update OR Number"/>
        <set-payload value="#[flowVars.result]" mimeType="text/plain" doc:name="Set Payload - result"/>
    </flow>
    <flow name="HTTP-/ldap/company/update">
        <http:listener config-ref="crm-httpListenerConfig" path="/ldap/company/update" allowedMethods="POST" doc:name="HTTP update"/>
        <flow-ref name="company_create_update" doc:name="Company Creat Update"/>
        <flow-ref name="update_company_with_or_number" doc:name="Update OR Number"/>
        <set-payload value="#[flowVars.result]" mimeType="text/plain" doc:name="Payload - result"/>
    </flow>
    <flow name="HTTP-/ldap/company/delete_get">
        <http:listener config-ref="crm-httpListenerConfig" path="/ldap/company/delete" allowedMethods="GET" doc:name="HTTP delete - GET"/>
        <logger message="DELETE GET #[payload]" level="INFO" doc:name="Logger"/>
        <flow-ref name="company_delete_get" doc:name="Company Delete Get"/>
    </flow>
    <flow name="HTTP-/ldap/company/delete_post">
        <http:listener config-ref="crm-httpListenerConfig" path="/ldap/company/delete" allowedMethods="POST" doc:name="HTTP delete - POST"/>
        <flow-ref name="company_delete" doc:name="Company Delete"/>
        <set-payload value="#[flowVars.result]" mimeType="text/plain" doc:name="Payload - result"/>
    </flow>
</mule>
